@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap&subset=latin-ext');

*,html{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}


/*Navbar*/
nav{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #000000;
}
nav ul{
    position: relative;
    margin-left: 4%;
    margin-right: 2%;
    top: 40px;
}
nav ul li{
    float: left;
    list-style: none;
    display: block;
    margin: 0 2em;
}

.logo img{
    position: relative;
    margin-right: 20px;
    width: 60px;
    margin-top: -20px;
}
.search-content{
    margin-top: -20px;
}
.search{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-weight: normal;
}
   
.image{
    margin-top: -35px;
    margin-left: 94%;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    top: 50px;
    font-size: 16px;
}

a.active{
    font-weight: bold;
}

.about{
    margin-top: -10px;
}

.login{
    margin-top: -8px;
}

.border{
  color: #ffffff;
  margin-top: 10px;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.tengah{
  position: relative;
  width: 100%;
  background-color: transparent;
}

.tengah ul{
  position: relative;
  float: left;
  margin-left: 17%;
  justify-content: center;
  align-content: center; 
  margin-top: -60px; 
  top: 30px;
}

.tengah ul li{
  text-align: center;
  list-style: none;
  display: block;
  margin: 0;
  margin-top: -10px;
}

.tengah ul li a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px 60px 6px 10px;
}

.new{
    position: absolute;
    margin-left: -80px;
    margin-top: -8px;
}

.menu{
    display: block;
}

.menu li{
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li a.active{
    font-weight: bold;
    background: #000;
}

.menu li:first-child{
    margin-left: 0;
}

.menu li a:hover,.menu li:hover>a {
    color: #fff;
    background: #000000;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 200px;
    position: absolute;
    left: 0px;
    z-index: 99;
    transform: translate(0.20px);
    transition: all 0.2s ease-out;
}
.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 16px;
    font-weight: normal;
    display: block;
    color: #ffffff;
    background: #161616;
    text-align: left;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #161616;
    color: #FFBA17;
    width: 280px;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 149px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul.multi-sub li a{
    width: 200px;
    margin-left: 130px;
}

.menu ul ul:after {
    left: 125px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}
@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #374147;
    }
}
.mySlides {
  display: none;
  margin-top: -120px;
}

.slideshow-container img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1295px;
  position: relative;
  margin: auto;
  padding-top: 2em;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -60px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 5px;
  background-color: #E5E5E5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #C4C4C4;
}
  
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.center h2{
    font-size: 35px;
    font-weight: 400;
    color: #4f4f4f;
    padding-bottom: 20px;
    margin-left: 5%;
}

.best-seller{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    margin-left: 65px;
    margin-right: 75px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 230px;
  height: 400px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  color: #4f4f4f;
}

.card h1{
  font-size: 22px;
  font-weight: 600;
}

.card p{
  font-size: 18px;
  font-weight: normal;
}

.card img{
    width: 200px;
    border-radius: 5px;
    margin: 13px;
}

.star .checked {
  color: orange;
}

.star span{
  color: #ddd;
}

.price {
  font-size: 18px;
}
.belum, .lanjut {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 0 -40px;
  margin-top: -60px;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 50px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.lanjut {
    right: -20px;
    border-radius: 3px 0 0 3px;
}
.belum:hover, .lanjut:hover {
    font-size: 60px;
}

.tulisan{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    margin-left: 65px;
    margin-right: 75px;
}

.cards{
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2);
    max-width: 620px;
    height: 335px;
    margin: 0 25px;
    border-radius: 5px;
    text-align: center;
    color: #4f4f4f;
    display: flex;
    flex-direction: row;
}

.cards img{
    margin-left: 2.5em;
    margin-top: -50px;
}

.hantu h1{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.hantu p{
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}
.button{
    background-color: #000000;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin: 30px 20px;
    vertical-align: center;
}

.button p{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0 10px;
    padding: 8px 0;
}

.komik{
    width: 100%;
    height: 500px;
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.fav {
    margin-left: 5%;
    width: 100%;
}

.fav img.foto{
    width: 1250px;
}

.fav img.star{
    position: absolute;
    margin-top: 1%;
    left: 6%;
}

.konten{
    color: #4f4f4f;
}

.konten h2{
    font-size: 24px;
    padding: 2px 0;
}

.konten p{
    font-size: 18px;
}

button{
    background: #000000;
    margin: 1em 0;
    margin-left: 35%;
    width: 400px;
    height: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.801);
    border: none;
    font-size: 26px;
    font-weight: 600;
    line-height: 6px;
    border-radius: 5px;
    letter-spacing: 3px;
}

button a{
    color: #ffffff;
    text-align: center;
}
footer {
    width: 100%;
    background: #000000;
    height: 350px;
    padding: 0;
    margin: 0;
  }
  
  .footer-box{
    display: flex;
    flex-flow: row;
    margin: 0 3em;
    padding: 20px 0px 30px 0px;
  }
  
  .footer-logo{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 3em;
  }
  
  .footer-logo p{
    color: #ffffff;
    font-size: 18px;
    margin: 2em 0;
    text-align: center;
  }
  
  .footer-content{
    display: flex;
    flex-flow: row;
    margin: 3em 1.5em;
  }
  
  .footer-content .head{
    font-size: 20px;
    font-weight: 800;
    padding: 0;
    margin: 0 40px;
  }
  
  .footer-content ul li{
    margin: 0.25em 2.5em;
    padding: 5px 0;
    font-weight: normal;
    color: #ffffff;
    
  }
  
  .footer-content ul li a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
  section.copyright{
    background: #000000;
    margin-top: -20px;
  }

  section.copyright>.social-icon{
    float: right;
    margin-right: 18%;
    margin-top: -50px;
  }

  .social-icon img{
      margin: 0 5px;
  }
  .copy{
      margin-left: 50px;
      color: #fff;
      margin-top: -20px;
      padding: 1em 0;
  }
.p{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin-top: -100px;
    float: right;
    margin-right: 22.75%;
}

li.satu{
    display: flex;
    flex-direction: row;
}

li.satu .ya{
    width: 50px;
}